* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Silkscreen', cursive;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}
header {
    width: 100%;
    height: 14rem;
    /* preferi usar rem para no tener medidas absolutas en pixeles */
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icon-container {
    width: 100%;
    height: auto;
    /* cambié el height a auto par que ocupe todo el espacio disponible en esta parte de la grilla */
    display: grid;
    background-color:#302988;
}

header .header-icon-container .icons {
    width: 30rem;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 2rem;
}
header .icons span {
    color: white;
}

/* Nav */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:  auto;
    background-color: #4660b5;
}

nav .nav-logo-container {
    place-self: center start;
    /* en vez de darle paddings preferí emplear esta propiedad de grid */
    margin-left: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav .nav-logo-container img {
    width: 6rem;
    /* no señale el margin-top porque no me parecio necesario al tener la propiedad de align-self de grid */
}

nav .nav-logo-container a {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}
nav .profile-link {
    place-self: center end;
    /* hice lo mismo con este elemento */
    margin-right: 5rem;
}

nav .profile-link a {
    color: white;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid white;
}
/* Main */

.grid-container {
    max-width: 140rem;
    margin: auto;
}

.blog-main {
    display: grid;
    grid-template-rows: 40rem auto;
    row-gap: 4rem;
    margin-bottom: 4rem;
}

.blog-main .first-blog {
    grid-column: 2;
    align-self: center;
    display: flex;
    align-items: center;
    /* aquí el profesor empleado display grid para ubicar los elementos del contenedor dentro de una cuadricula, en vez de display flex */
    height: 100%;
    width: 100%;
    background-color: #e6e9ed;
    padding: 4rem;
}
.blog-main .first-blog figure {
    width: 100%;
    height: 100%;
}

.blog-main .first-blog figure img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.blog-main .first-blog div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
}
.blog-main .first-blog div h2 {
    font-size: 3rem;
}

.blog-main .first-blog div a, .blog-list .blogpost-item a{
    padding: 1rem 1.6rem; 
    font-size: 1rem;
    border: 0.1rem solid #48CFAD;
    width: 8rem;
    text-align: center;
}

.blog-main .first-blog div a:hover, .blog-list .blogpost-item a:hover {
    border: 0.1rem solid white;
    color: white;
    background-color: #48CFAD;

}

.blog-main .blog-list {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
}


.blog-list .blogpost-item {
    display: grid;
    grid-template-rows: 18rem 4rem 12rem 0.2fr;
    justify-items: center;
}

.blog-list .blogpost-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-list .blogpost-item h3 {
    align-self: center;
    justify-self: start;
}
.blog-list .blogpost-item p {
    align-self: center;
}

.blog-list .blogpost-item a {
    justify-self: flex-start;
    width: 8rem;
    padding: 1rem;
    text-align: center;
    align-self: center;
}

/* footer styles */

footer {
    width: 100%;
    height: 9rem;
    background-color: #22272d;
    border-top: 3rem solid #47cfac;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: white;
    font-size: 1rem;
}